alias air='~/go/bin/air'
alias activate='source .venv/bin/activate'
alias docs='npx redoc-cli serve open-api.yaml --watch'
alias rst='tput reset'
alias cloc='npx cloc .'

# Databases
alias mgo='brew services run mongodb-community'
alias pg='brew services run postgresql'
alias sql='sqlite3'

# Alt Homebrew
alias ibrew='arch -x86_64 /usr/local/bin/brew'

# 
alias py='python3'
alias tf='terraform'
alias hs='runghc'
alias dose='docker compose'

# Directory Tools
alias '..'='cd ..'
alias '...'='cd ../..'

# See https://stackoverflow.com/a/26848769/12531621. history behaves differently in zsh.
alias hist='history 1'

# Functions as Alias

cpp() {
	g++ --std=c++17 -Wall -Wextra -Wpointer-arith $1 && ./a.out
}

cgo() {
	cc $1 && ./a.out
}

clex() {
	lex $1 && gcc lex.yy.cc -ll && ./a.out
}

# https://gist.github.com/mihow/9c7f559807069a03e302605691f85572
envup() {
  local file=$1

  if [ -f $file ]; then
    set -a
    source $file
    set +a
  else
    echo "No $file file found" 1>&2
    return 1
  fi
}

# Move all source items to trash
trash() {
    for item in "$@"; do
        mv -v "$item" ~/.Trash/
    done
}


# Temp Alias
alias oss='cd ~/Desktop/myfolder.nosync/oss'
alias mp='cd ~/Desktop/myfolder.nosync'
alias site='cd ~/Desktop/myfolder.nosync/personal/machines.fail'
alias work='cd ~/Desktop/work.nosync/warshall'
